h4{
    color:orange;
    text-align: center;
}
main{
    line-height: 40%;
    text-align: center;
    color:black; 
   
    
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }
  nav{
    text-align: center;
    color:black;
  }
  html{
    height: 200px;
    width: 40%;
    width: 300px;
    border: 15px  green;
    padding: 50px;
    margin: 20px;
    color:black;
  }
footer{
    color:red;
     background-color:#181818;
     padding: 10px 0px; 
     height: 20px;

}
